.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li {
  margin-left: 1.25rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLinks a:hover {
  color: var(--accent-color);
}
