.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.navLinks li {
  margin-left: 1.25rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLinks a:hover {
  color: var(--accent-color);
}

.menuButton {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navLinks {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: none;
  }

  .navLinks.showMenu {
    display: flex;
  }

  .navLinks li {
    margin: 1rem 0;
  }
}
